.search-bar {
  display: flex;
  width: 100%;
  max-width: 700px;
}

.search-input {
  border-radius: 24px 0 0 24px !important;
  border-right: none !important;
  box-shadow: none;
  font-size: 16px;
}
.search-bar-focused {
  width: 100%;
  margin-top: 12px;
  gap: 0;
}
.ant-select-dropdown {
  border-radius: 8px;
}

.search-button {
  border-radius: 0 24px 24px 0 !important;
  font-size: 16px;

  background-color: #f8f8f8 !important;
  border: 1px solid #d3d3d3 !important;
  color: #333 !important;
  box-shadow: none;
}

.search-button:hover {
  background-color: #e0e0e0 !important;
}

.search-icon {
  color: #606060;
}

@media (max-width: 768px) {
  .search-bar {
    max-width: 100%;
    padding: 0 16px;
  }
}
@media (max-width: 700px) {
  .search-input {
    height: 24px;
  }
  .search-button {
    margin-top: 4px;
  }
  .ant-select-item-option-content {
    font-size: 12px;
  }
}
